.Person {
  background: #fefefe;
  border: px solid #eee;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(188, 177, 178, 0.6);
  width: 400px;
  height: auto;
  padding: 20px;
  text-align: center;
  display: block;
  margin: 20px auto;
}

input[type=text] {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}