.person {
  background: #fefefe;
  border: px solid #eee;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(188, 177, 178, 0.6);
  width: 200px;
  height: auto;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 20px;
}
.person img {
  width: 100px;
}
.person h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.person p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 2rem;
}
.person i {
  font-size: 24px;
  color: #7c828b;
  padding: 0 0.5rem;
  cursor: pointer;
}
.person .social {
  margin-top: 2rem;
}